/*#########################################################
                      index
###########################################################*/



body {
  color: rgb(255, 255, 254);
  text-shadow: 2px 0 8px rgb(12, 12, 12), 0 0 2px rgb(0, 0, 0);
  margin: 0;


}

body:before {
  content: "";
  font-family: 'Marcellus', serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('imgs/maybe_2_vignette.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.smallmain {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 100vh;
}

.contactbut:hover,
.projectbut:hover,
.aboutbut:hover,
.rebut:hover {
  color: #bd8163;
}

.arrow {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 8rem;
  margin-left: 1rem;
}

.myname {
  font-size: 6rem;
  margin: 0;
  line-height: 1;
}



.role {
  gap: 0.9rem;
  font-size: 4rem;
  color: #bd8163;
  text-shadow: 2px 0 8px rgb(0, 0, 0), 0 0 2px rgb(5, 5, 5);
  margin: 0;
  text-align: center;
  margin-right: 40%;
}

.role p {
  margin: 0;
  font-size: inherit;
}

.head-txt {
  font-size: 2rem;
  margin: 0;
  max-width: 50%;
}

.header-line {
  width: 47rem;
  border-bottom: 9px solid #426274;
  margin: 0;
}



.emailinfo {
  position: absolute;
  text-decoration: none;
  display: flex;
  gap: 50%;
  font-size: 2.5rem;
  left: 2vw;
  top: 3%
}



.contactbutmain {
  display: none;
}

.mainnav {
  position: absolute;
  gap: 10rem;
  right: -2rem;


}

nav {
  position: sticky;
  z-index: 10;
  order: 3;
  display: flex;
  flex-direction: column;
  text-align: right;
  font-size: 2.3rem;
  margin-right: 2rem;
  margin-top: 2rem;
  gap: 9rem;
  top: 2.5rem;

}

.contactbut {
  color: white;
  cursor: pointer;
}

.projectbut {
  color: white;
  cursor: pointer;
}

.aboutbut {
  color: white;
  cursor: pointer;
}

.rebut {
  color: white;
  cursor: pointer;
}

.emailbut {
  color: white;
  cursor: pointer;
}

/*###############################################################
                      ABOUTME
##############################################################*/

.aboutme {
  font-size: 1.8rem;
  max-width: 60rem;
  top: 10rem;
  margin: 0;
  text-align: center;
}

.abouthead {
  color: #bd8163;
  position: absolute;
  font-size: 8rem;
  margin-left: 2rem;
  margin-top: 0;
}

.myboxabout {
  position: relative;
  background-color: #020202c9;
  border: 2px solid #426274;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 12rem;
  bottom: 4rem;
  margin-left: 2rem;
  box-sizing: border-box;
}

.navheadabout {
  position: absolute;
  right: 0;
  margin-top: 0;
  margin-bottom: 10rem;
}

/*####################################################
                  PROJECTS
######################################################*/


.myvid {
  position: absolute;
  top: 5rem;
  right: 30rem;
  width: 40vw;
  height: 70vh;
  z-index: 100;
  margin: 0;
}


.notris-info {
  font-size: 2rem;
  max-width: 20rem;
  text-align: center;
}

.probox {
  position: absolute;
  box-sizing: border-box;
  width: 22%;
  height: 90%;
  background-color: #02020278;
  border: 2px solid #333;
  border-radius: 8px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 2rem;
  top: 0;
}



/*####################################################
                     RESUME
######################################################*/

/*#########################################################
                      index
###########################################################*/

@media screen and (max-width:480px) {
  body {
    position: absolute;
    background-image: url('imgs/maybe_dark_overlay_left_v5.png');
    background-color: black;
    background-repeat: no-repeat;
    overflow-y: hidden;


  }
}

@media screen and (max-width:480px) {
  .myboxmain {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 50vh;
    background-color: #02020278;
    border: 2px solid #333;
    border-radius: 8px;
    padding: 1rem;
    bottom: 3rem;
    right: 0.3rem;

  }
}

@media screen and (max-width:480px) {
  .mainnav {
    position: absolute;
    gap: 1rem;
    top: -3rem;
    right: -0.50rem;
  }
}

@media screen and (max-width:480px) {
  .myinfo {
    position: absolute;
    bottom: 7rem;
    left: 4rem;
  }
}

@media screen and (max-width:480px) {
  nav {
    flex-direction: row;
    font-size: 2rem;

  }
}

@media screen and (max-width:480px) {
  .head-txt {
    max-height: 10vh;
    max-width: 20rem;
    font-size: 1.5rem;
    font-family: 'Inter', Times, serif;
    max-width: 25rem;
  }
}

@media screen and (max-width:480px) {
  .arrow {
    position: relative;
    top: 3rem;
  }
}

@media screen and (max-width:480px) {
  .header-line {
    width: 20rem;
  }
}

@media screen and (max-width:480px) {
  .role {
    white-space: nowrap;
    font-size: 2rem;
  }
}

@media screen and (max-width:480px) {
  .myname {
    font-size: 3rem;
  }
}

/*###############################################################
                      ABOUTME
##############################################################*/
@media screen and (max-width:480px) {
  .aboutbody {
    overflow: unset;
    overflow-x: hidden;
  }
}

@media screen and (max-width:480px) {
  .aboutme {
    font-size: 1rem;
    max-width: 60rem;
    top: 10rem;
    text-align: center;
  }
}

@media screen and (max-width:480px) {
  .abouthead {
    color: #bd8163;
    position: absolute;
    font-size: 4rem;
    top: 5.5rem;
    left: 1rem;
  }
}

@media screen and (max-width:480px) {
  .myboxabout {
    position: relative;
    background-color: #020202c9;
    border: 2px solid #426274;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 12rem;
    bottom: 1rem;
    right: 1rem;
    box-sizing: border-box;
  }
}


/*####################################################
                     RESUME
######################################################*/




@media screen and (max-width:480px) {
  .summary p {
    all: unset;
  }
}


/*####################################################
                  PROJECTS
######################################################*/

@media screen and (max-width:480px) {
  nav {
    flex-direction: row;
    font-size: 2rem;

  }
}

@media screen and (max-width:480px) {
  .myvid {
    position: absolute;
    padding-top: 25px;
    width: 100vw;
    height: 80vw;
    right: 0;
    left: 0;
  }
}

@media screen and (max-width:480px) {
  .notris-info {
    font-size: 1.5rem;

  }
}

@media screen and (max-width:480px) {
  .probox {
    position: relative;
    width: 100%;
    height: 5%;
    top: 26rem;
    left: 0.5rem;
    margin: 0;
    margin-bottom: 50rem;
  }
}



@media screen and (max-width:480px) {
  .pronav {
    position: absolute;
    font-size: 1.5rem;
    gap: 1rem;
    margin: 0;
    margin-left: 1.5rem;

  }
}

@media screen and (max-width:480px) {
  .projects-body {
    overflow-y: unset;
  }

}