/*#########################################################
                      index
###########################################################*/



body {
  font-family: 'Marcellus', serif;
  color: rgb(255, 255, 254);
  text-shadow: 2px 0 8px rgb(12, 12, 12), 0 0 2px rgb(0, 0, 0);
  margin: 0;
  overflow: hidden;

}

body:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('imgs/maybe_2_vignette.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  overflow: hidden;
}

.myinfo a {
  color: white;
}

a:hover {
  color: #815c44
}



.head-txt {
  transform: translate(6%, -245%);
  text-align: center;
  font-size: 1.8rem;
  max-width: 45%;
}


.myname {
  font-size: 6.5rem;
  transform: translate(20%, -55%);
  max-width: 10%;
  line-height: 100%;
}



.role {
  transform: translate(10%, -184%);
  display: flex;
  flex-direction: row;
  gap: 0.9%;
  text-align: center;
  font-size: 2rem;
  color: #bd8163;
  text-shadow: 2px 0 8px rgb(0, 0, 0), 0 0 2px rgb(5, 5, 5);

}

.header-line {
  width: 48%;
  border-bottom: 9px solid #426274;
  transform: translate(5%, -1700%);
}



.myinfo {
  display: flex;
  gap: 1%;
  margin-left: 1.9rem;
  text-shadow: unset;
  word-spacing: 400%;
}

.myinfo a {
  font-size: 1.3rem;
}


.arrow {
  transform: translateY(5%);
}

.box {
  width: 66vw;
  height: 10vh;
  background-color: #426274a1;
  border: 2px solid #333333;
  border-radius: 8px;
  padding: 20px;
  box-sizing: border-box;
  float: right;
  transform: translate(0%, -330%);
}



nav {
  display: flex;
  flex-direction: column;
  align-items: right;
  float: right;
  gap: 145px;
  transform: translate(-25%, -12%);
  font-size: 2.3rem;
}

.contactbut {
  color: white;
  cursor: pointer;
}

.projectbut {
  color: white;
  cursor: pointer;
}

.aboutbut {
  color: white;
  cursor: pointer;
}

.rebut {
  color: white;
  cursor: pointer;
}


/*
.emailinfoo{
  transform: translate(2%, -160%);
  font-size: 1.5rem;

}


.gmail{
  font-size: 1.5rem;
  transform: translate(7.3%, -340%);

}



.linkedinbut{
  position: absolute;
  font-size: 1.5rem;
  transform: translate(410%, -690%);
  color: white;
  text-decoration: none;
  
}

.linkinn{
  font-size: 1.5rem;
  text-align: center;
  transform: translate(-5%, -510%);
}



.git{
  text-align: right;
  font-size: 1.5rem;
  transform: translate(-15%, -700%);
}

.githubbut{
  position: absolute;
  font-size: 1.5rem;
  text-decoration: none;
  transform: translate(765%, -880%);
  color: white;
}
  */
/*#############################################################
                         CONTACT 
#############################################################


.contact-body {
  text-align: center;
}

.backbut {
  border: 1px solid white;
  border-radius: 8px;
  float: left;
  font-size: 34px;
  background-color: transparent;
  color: white;
  padding: 8px 10px;
  cursor: pointer;
}

.emailinfo {
  clear: both;
  color: white;
  font-size: 2rem;

}



.linkedinbut {
  font-size: 2rem;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

.contact-body h1 {
  font-size: 3.5rem;
}

.githubbut {
  font-size: 2rem;
  background-color: transparent;
  color: white;
  cursor: pointer;

}


/*###############################################################
                      ABOUTME
##############################################################*/

.aboutme {
  text-align: center;
  font-size: 45px;
}




/*####################################################
                  PROJECTS
######################################################*/


.myvid {
  transform: translate(19vw);
  width: 50vw;
  height: 60vh;
}

.backbutresume {
  background-attachment: unset;

}

.notris-info {
  color: white;
  text-align: center;
  font-size: 35px;
  max-width: 90%;
  margin-left: 60px;
  margin-bottom: 20px;
}





/*####################################################
                     RESUME
######################################################*/


.content {
  text-align: center;
  color: white;
  font-size: 1.5rem;
}

.jobtitle {
  font-size: 1.8rem;
  margin-top: -2%;
}

.pro {
  font-size: 2rem;
}

.gen {
  font-size: 2rem;
}

.techskills ol {
  font-size: 1.5rem;
  list-style-position: ;
}

.summary p:not(.content) {
  text-align: center;
  margin-top: 25px;
  max-width: 50%;
  transform: translate(48%, 0%);
  font-size: 1.5rem;
  line-height: 30px;
}

.summary:not(.content) {
  text-align: center;
}

.edu {
  transform: translateY(-100);
}

.backbutresume {
  align-items: start;
  border: 1px solid white;
  border-radius: 8px;
  font-size: 34px;
  background-color: transparent;
  color: white;
  padding: 8px 10px;
  cursor: pointer;
}
















/*#########################################################
                      index
###########################################################*/


@media screen and (max-width:480px) {
  .myname {
    font-size: 2.5rem;
    transform: translate(140%, 60%);
  }
}

@media screen and (max-width:480px) {
  .role{
    font-size: 1rem;
    transform: translate(14%, -50%);
  }
}

@media screen and (max-width:480px) {
  .header-line{
    width: 90%;
    transform: translate(6%,600%);
  }
}

@media screen and (max-width:480px) {
  nav {
    flex-direction: row;
    font-size: 1.4rem;
    gap: 5%;
  }
}

@media screen and (max-width:480px) {
  .head-txt{
    transform: translate(18%, -20%);
    text-align: unset;
    max-width: 80%;
  }
}

@media screen and (max-width:480px) {
  .myinfo{
    transform: translate(700%);
  }
}

@media screen and (max-width:480px) {
  .contactbut{
  display: hidden;    
  }
}

@media screen and (max-width:480px) {
  .contactmo{
    color: white;
  }
}
/*###############################################################
                      ABOUTME
##############################################################*/
@media screen and (max-width:480px) {
  .aboutbody{
    overflow: unset;
    overflow-x: hidden ;
  }
}

/*####################################################
                     RESUME
######################################################*/




@media screen and (max-width:480px) {
  .summary p {
    all: unset;
  }
}


/*####################################################
                  PROJECTS
######################################################*/


@media screen and (max-width:480px) {
  .myvid {
    transform: translateX(3vw);
    padding-top: 25px;
    width: 100vw;
    height: 80vw;
  }
}

@media screen and (max-width:480px) {
  .notris-info {
    color: white;
    text-align: unset;
    font-size: 2rem;
    margin: unset;
    transform: translateX(15vw);
    max-width: 80%;
  }
}


@media screen and (max-width:480px) {
  .backbut {
    align-items: start;
    border: 1px solid white;
    border-radius: 8px;
    font-size: 34px;
    background-color: transparent;
    color: white;
    padding: 8px 10px;
    cursor: pointer;
  }
}